body {
  margin: 0; 
  padding: 10px; 
}
/* .chakra-ui-light {
  background-color: rgb(20, 20, 20);
  color:white;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;         
  background: none;        
  border: none;             
  cursor: pointer;
}

/* Create a custom style for the select box if needed */
select.custom-select {
  background: none;
  border: 1px solid #ccc;
  width: 22px;
  font-size: 16px;
  cursor: pointer;
}